.signup{

    .container {
        padding: rem-calc(10);
    }

    &__content{
        display: grid;
        align-items: center;
        justify-content: center;
        padding: rem-calc(30 0);
        height: fit-content;
        position:relative;

        .upperText{
            display:grid;
            justify-content: center;
            align-items: center;
            font-family: $secondary;
            color:#000;
            font-size: rem-calc(32);
            text-decoration: none;

            span{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            svg{
                height: rem-calc(50);
                width: rem-calc(50);
            }

            p{
                font-weight:bold;
            }
        }

        .buttons{
            justify-content: center;
            width: 100%;
            display: grid;
            grid-gap: rem-calc(15);
        }

        .line{
            display:grid;
            grid-template-columns: 3fr 1fr 3fr;
            align-items:center;
            margin:rem-calc(20 0);

            &__text{
                color: #7f7f7f;
                font-family: $primary;
                font-size: rem-calc(16);
                display:flex;
                justify-content: center;
                width:100%;
            }

            &__line {
                width:100%;
                height:2px;
                background-color: #7f7f7f;
            }
        }

        .form{
            display:grid;
            justify-content: center;
            align-items: center;
            width:50%;
            margin: auto;

            @media screen and (max-width:600px){
                width:90%;
            }
            h2{
                font-size: rem-calc(24);
                font-weight:bold;
                font-family: $primary;
            }

            .signup--form{
                display:grid;
                margin-bottom: rem-calc(25);

                label {
                    font-size: rem-calc(16);
                    font-weight: bold;
                    font-family: $primary;
                    margin-bottom: rem-calc(5);
                }

                input {
                    height: rem-calc(40);
                    border: 2px solid gray;
                    border-radius: 5px;
                    padding: rem-calc(5);
                    width:100%;
                   
                }

                p{
                    font-size: rem-calc(14);
                    font-weight:normal;
                    font-family: $primary;
                    margin-bottom: rem-calc(5); 
                }

                &__dob {
                    display:grid;
                    grid-template-columns: 1fr 2fr 1fr;
                    grid-gap:rem-calc(20);

                    label{
                        font-weight:400;
                    }
                }

                &__gender{
                    display:block;
                    div{
                        display:flex;
                        align-items: center;
                        justify-content: space-between ;
                        margin-top:rem-calc(5);
                        div{
                            display:flex;
                            input{
                                height: rem-calc(20);
                                width:rem-calc(20);
                                margin-right: rem-calc(5)
                            }
                            label{
                                margin-bottom: rem-calc(0);
                                font-weight: 400;
                            }
              
                        }
                    }

                }
            }
        }
    }
}