//desktop footer//

.footerDesktop {
    @media  (max-width: 768px) {
        display: none;
    }

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: rem-calc(10);
    background-color: $darkGreen;
    padding:rem-calc(20 5);
    position: absolute;
    bottom:0;
    width:100%;

    &__links {
        list-style: none;
        display: contents;;
        &-item {
            font-size: rem-calc(20);
            color: $gold;
            font-family: $primary;
            opacity: 0.6;

            &:hover {
                opacity:1;
                cursor:pointer;
            }

        }
    }
}

//mobile footer//

.footerMobile {
    @media  (min-width: 768px) {
        display: none;
    }
    background-color: $darkGreen;
    position: absolute;
    bottom:0;
    width:100%;

    .accordions {
        background-color: $darkGreen;
        overflow: hidden;
        width:100%;
    }
    
    .accordion {
        width: 100%;
        color: $gold;
        overflow: hidden;
    }
    
    .acc-label {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        background-color: $darkGreen;
        font-weight: 500;
        cursor: pointer;
    }
    
    .accordion{
        border-bottom: 1px solid;
    }
    
    .acc-label:hover {
        background-color: $lightGreen;
    }
    
    .acc-label::after {
        font-weight: 900;
        content: ">";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.4s ease;
    }
    
    .acc-content {
        max-height: 0;
        padding: 0 1em;
        color: $gold;
        background-color: $lightGreen;
        transition: all 0.4s ease;
    }
    
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    
    input:checked+.acc-label::after {
        transform: rotate(-90deg);
    }
    
    input:checked~.acc-content {
        max-height: 100vh;
        padding: 1em;
    }
}