//desktop footer//

.footerDesktop {
    @media  (max-width: 768px) {
        display: none;
    }

    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: rem-calc(10);
    background-color:#000;
    padding:rem-calc(20 5);
    width:100%;

    &__company {
        display:flex;
		margin-top:rem-calc(10);
		font-family: $secondary;
		color:#fff;
		font-size: rem-calc(32);
		text-decoration: none;
        svg{
            height: rem-calc(40);
            width: rem-calc(40);
        }
    }

    &__links {
        list-style: none;
        display: contents;
        &-item {
            font-size: rem-calc(20);
            color: #fff;
            font-family: $primary;

            &:hover {
                color: $green;
                cursor:pointer;
            }

        }
    }

    &__socials {
        list-style: none;
        display:flex;
        padding-top:rem-calc(20);
        padding-bottom:rem-calc(20);
        justify-content: center;
        margin-block-start: 0em !important;
        margin-block-end: 0em !important;
        padding-inline-start: 0px !important;
        
        li {
            margin-right: rem-calc(5);
            margin-left: rem-calc(5);
            svg{
                height:rem-calc(30);
                width:rem-calc(30);

                &:hover {
                    path{
                        fill:$green;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

//mobile footer//

.footerMobile {
    @media  (min-width: 768px) {
        display: none;
    }
    background-color: #000;
    width:100%;

    .accordions {
        background-color: #000;
        overflow: hidden;
        width:100%;
    }
    
    .accordion {
        width: 100%;
        color: #fff;
        overflow: hidden;
    }
    
    .acc-label {
        display: flex;
        justify-content: space-between;
        padding: 0.5em;
        background-color: #000;
        font-weight: 500;
        cursor: pointer;
    }
    
    .accordion{
        border-bottom: 1px solid;
    }
    
    .acc-label:hover {
        background-color: #000;
    }
    
    .acc-label::after {
        font-weight: 900;
        content: ">";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.4s ease;
    }
    
    .acc-content {
        max-height: 0;
        padding: 0 1em;
        color: #fff;
        background-color: #000;
        transition: all 0.4s ease;
    }
    
    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }
    
    input:checked+.acc-label::after {
        transform: rotate(-90deg);
    }
    
    input:checked~.acc-content {
        max-height: 100vh;
        padding: 1em;
    }
}