@import "functions";

@import "variables/colors";
@import "variables/typography";

@import "components/navbar.scss";
@import "components/footer.scss";
@import "components/buttons.scss";

@import "pages/homepage.scss";

body {
margin: 0 !important;
}
.container {
}
.header{
    color: #fff;
    font-family: $primary;
    font-size: rem-calc(32);
}

.sub-header {
    color: #919496;
    font-family: $secondary;
    font-size: rem-calc(20);
}

.text {
    color: $green;
    font-family: $secondary;
    font-size: rem-calc(16);
}