@import "functions";

@import "variables/colors";
@import "variables/typography";

@import "components/navbar.scss";
@import "components/footer.scss";

body {
margin: 0 !important;
}
.container {
    margin: rem-calc(10)
}
.header{
    color: $gold;
    font-family: $primary;
    font-size: rem-calc(32);
}

.sub-header {
    color: $gold;
    font-family: $secondary;
    font-size: rem-calc(20);
}

.text {
    color: $lightGreen;
    font-family: $secondary;
    font-size: rem-calc(16);
}